.title a {
    color: red;
}

header nav {
    float: left;
}

ul li {
    list-style-position: inside;
    /* font-weight: bold; */
}

body, section.card{
    background-color: #E9ECEF !important;  /*(jumbotronun rengini gizlemek icinmis. ayrica hakkimizdadaki cardı da gizlemem gerekti) 4- Arka plan rengini #E9ECEF ile değiştirin. */
}

h1.display-4.text-center {
    color: #8525aa;
    font-weight: 350;
}

.card-text{
    color: #8525aa;
    font-weight: bold;
    font-size:large;
}

section article p{
    font-weight: 450;
}